<section>
  <form [formGroup]="loginForm" id="login-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
    (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput type="email" formControlName="emailAddress" placeholder="Email address">
      <mat-error *ngIf="formEmail.hasError('required')">This field is required!</mat-error>
      <mat-error *ngIf="formEmail.hasError('email')">Please fill in a valid email address!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="formPassword.hasError('required')">This field is required!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Log in</button>

  </form>
</section>
